{% extends 'basicTemplate.html' %}

{% block title %}
Course List
{% endblock %}

{% block content %}

<center>

    <h1>Course List</h1>

    <table border="1">

        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Credits</th>
        </tr>

        {% for c in course_list1 %}

        <tr>

            <td>
                {{ c.coursecode }}
            </td>

            <td>
                {{ c.coursename }}
            </td>

            <td>
                {{ c.credits }}
            </td>

        </tr>

        {% endfor %}

    </table>

</center>

{% endblock %}